@model exemplu.Models.CONCURENT

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CONCURENT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasterii" class="control-label"></label>
                <input asp-for="DataNasterii" class="form-control" />
                <span asp-validation-for="DataNasterii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tara" class="control-label"></label>
                <input asp-for="Tara" class="form-control" />
                <span asp-validation-for="Tara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Varsta" class="control-label"></label>
                <input asp-for="Varsta" class="form-control" />
                <span asp-validation-for="Varsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONCURSId" class="control-label"></label>
                <select asp-for="CONCURSId" class="form-control" asp-items="ViewBag.CONCURSId"></select>
                <span asp-validation-for="CONCURSId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
